%h1 Top Floor's Attendance Tracker

- if current_user
  = simple_form_for :attendance, url: new_attendance_path, method: :get, remote: true do |f|
    = f.select(:student, @students.collect { |s| [ s.name, s.id ] }, include_blank: true)
    = f.button :submit, 'Submit'

#attendance-form

:javascript
  $(document).ready(function(){ $('#attendance_student').select2({placeholder: "Select a Student", allowClear: true}); });
